h1{
    color: black ;
    background-color: khaki ;
    text-shadow: 1px 1px 2px navy;
}
h2{
    color: black;
    background-color: mediumturquoise ;
}
h3{
    color: black;
    background-color: pink ;

}
p{
    color: navy;
}
p.info {
    color: green;

}
a:link{
    color: brown;
}
a:visited{
    color: brown;
}
